@import '../utility/colors';
@import '../utility/functions';
@import '../utility/mixins';

.materials {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: rem(20);
  .materials__list {
    display: flex;
    padding: rem(30) rem(30) rem(10) rem(30);
    @include main-box;
    .materials__ {
      &files {
        display: flex;
        flex-direction: column;
        margin-right: rem(30);
        max-height: rem(655);
        overflow-y: auto;
        h2 {
          @include h2-title;
        }
      }
      &useful-sites {
        display: flex;
        flex-direction: column;
        max-height: rem(655);
        overflow-y: auto;
        h2 {
          @include h2-title;
        }
      }
    }
  }

    .new-file- {
      &btn {
        @include main-btn;
        position: absolute;
        top: rem(30);
        left: rem(68);
        &:active{
          box-shadow: inset 2px 2px 5px black;
        }
      }
      &form {
        @include secondary-box;
        @include adding-form-styles;
        position: absolute;
        top: rem(30);
        left: rem(30);
        input {
          @include input-new-element;
        }
        div {
          position: relative;
          button {
            @include secondary-btn;
          }
          span {
            @include x-mark-spans;
            top: 14px;
            left: 130px;
            &.cancel-1 {
              transform: rotate(45deg);
            }
            &.cancel-2 {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }


    .new-site- {
      &btn {
        @include main-btn;
        position: absolute;
        top: rem(90);
        left: rem(58);
        &:active{
          box-shadow: inset 2px 2px 5px black;
        }
      }
      &form {
        @include secondary-box;
        @include adding-form-styles;
        position: absolute;
        top: rem(30);
        left: rem(30);
        input {
          @include input-new-element;
        }
        div {
          position: relative;
          button {
            @include secondary-btn;
          }
          span {
            @include x-mark-spans;
            top: 14px;
            left: 130px;
            &.cancel-1 {
              transform: rotate(45deg);
            }
            &.cancel-2 {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
}