@import '../generic/functions';
@import '../generic/colors';
@import '../generic/mixins';

.schedules__box {
  @include main-box;
  padding: rem(30);

  .schedules__table {
    font-family: 'Arial', sans-serif;
    border-collapse: separate;
    empty-cells: show;

    caption {
      margin-bottom: 20px;
      font-size: rem(30);
      font-weight: bolder;
    }

    th {
      border: 1px solid black;
      border-radius: 7px;
      width: 150px;
      font-size: rem(20);
      font-weight: 600;
      padding-top: rem(5);
      padding-bottom: rem(5);
      padding-inline: rem(10);
      background-color: $color-table-cell;
    }

    td {
      border: 1px solid black;
      border-radius: 7px;
      text-align: center;
      padding-top: rem(5);
      padding-bottom: rem(5);
      background-color: $color-table-cell;
    }

    tr td:first-child {
      font-weight: bold;
    }
  }
}