@import '../generic/functions';
@import '../generic/colors';
@import '../generic/mixins';

.schedules__box {
  @include main-box;
  padding: rem(30);

  .schedules__table {
    font-family: 'Arial', sans-serif;
    border-collapse: separate;
    empty-cells: show;

    caption {
      margin-bottom: 20px;
      font-size: rem(30);
      font-weight: bolder;
    }

    th {
      border: 1px solid black;
      border-radius: 7px;
      width: 150px;
      font-size: rem(20);
      font-weight: 600;
      padding-top: rem(5);
      padding-bottom: rem(5);
      padding-inline: rem(10);
      background-color: $color-table-cell;
    }

    td {
      border: 1px solid black;
      border-radius: 7px;
      text-align: center;
      padding-top: rem(5);
      padding-bottom: rem(5);
      background-color: $color-table-cell;
      &:hover {
        color: red;
        cursor: pointer;
      }
    }

    tr td:first-child {
      font-weight: bold;
      &:hover {
        color: black;
        cursor: auto;
      }
    }
  }

  .new-entry-btn {
    @include main-btn;
    position: absolute;
    top: rem(30);
    left: rem(55);
    &:active{
      box-shadow: inset 2px 2px 5px black;
    }
  }

  .schedules__form {
    @include secondary-box;
    @include adding-form-styles;
    flex-direction: row;
    position: absolute;
    top: rem(30);
    left: rem(30);
    gap: rem(20);
    &-column {
      display: flex;
      flex-direction: column;
      label {
        font-size: rem(20);
        font-family: 'Arial', sans-serif;
        margin-bottom: rem(10);
      }
      select {
        border-radius: 10px;
      }
    }
    button {
      @include secondary-btn;
    }
  }
}