@import '../utility/functions';
@import '../utility/colors';
@import '../utility/mixins';

.students {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: rem(20);
  .students__box {
    padding: rem(30) rem(30) rem(10) rem(30);
    max-height: rem(700);
    overflow-y: auto;
   @include main-box;
    h2 {
      @include h2-title;
    }
  }

  .new-student-btn {
    @include main-btn;
    position: absolute;
    top: rem(30);
    left: rem(90);
    &:active{
      box-shadow: inset 2px 2px 5px black;
    }
  }

  form.students__form {
    @include secondary-box;
    @include adding-form-styles;
    position: absolute;
    top: rem(30);
    left: rem(30);
    input {
      @include input-new-element;
    }
    div {
      position: relative;
      button {
        @include secondary-btn;
      }
      span {
        @include x-mark-spans;
        top: 14px;
        left: 130px;
        &.cancel-1 {
          transform: rotate(45deg);
        }
        &.cancel-2 {
          transform: rotate(-45deg);
        }
      }
    }

  }
}

