@import '../generic/colors';
@import '../generic/functions';
@import '../generic/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: $base-font-size;
}

#app {
  height: 100%;
}

.container {
  width: rem(1400);
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

.disabled-link {
  pointer-events: none;
  color: grey !important;
}

.background {
  height: calc(100% - 160px);
  background-color: #b9d3f6;
  display: flex;
  justify-content: center;
  align-items: center;
}