@import '../generic/functions';
@import '../generic/mixins';

.login__box {
  background-color: #f1eed6;
  border: 2px solid #454343;
  border-radius: 30px;
  box-shadow: 5px 5px 5px #454343;
  padding: rem(20);
  .login__info {
    font-size: rem(30);
    font-weight: bold;
    font-family: 'Times New Roman', sans-serif;
    text-align: center;
    margin-bottom: rem(20);
  }
  .login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .login__input {
      width: rem(200);
      margin-bottom: rem(10);
      font-size: rem(20);
      padding: rem(5);
      border-radius: 10px;
      border: 1px solid black;
      font-family: 'Times New Roman', sans-serif;
    }
    .login__submit-btn {
      @include secondary-btn;
    }
  }
}