@import '../generic/colors';
@import '../generic/functions';
@import '../generic/mixins';



.student__instance {
  @include ul-list-element-with-svg;
}

.student__item {
  @include ternary-box;
  margin-right: rem(20);
  p {
    margin-bottom: rem(10);
    text-align: center;
    font-style: oblique;
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }
}